{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTMX learning</title>
    <link href="index.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.11/dist/ext/response-targets.js"
    ></script>
  </head>
  <body hx-ext="response-targets">
    <main>
      {{ template "form" . }}
      <hr />
      {{ template "contacts" . }}
    </main>
  </body>
</html>
{{ end }}

{{ block "contacts" . }}
  <div id="contacts">
    <p>Contacts:</p>

    <ol>
      {{ range $i, $item := .Contacts }}
        {{ template "contact" $item }}
      {{ end }}
    </ol>
  </div>
{{ end }}

{{ block "form-error" . }}
  <div id="form-error" style="color: red">
    {{ .FormErrorMessage }}
  </div>
{{ end }}

{{ block "form" . }}
  <form
    hx-post="/contacts"
    hx-target="#contacts"
    hx-target-409="#form-error">

    <input type="text" placeholder="Name" name="name" />
    <input type="text" placeholder="Name" name="address" />
    <button type="submit">Add new</button>
  </form>
  {{ template "form-error" . }}
{{ end }}

{{ block "contact" . }}
  <li>{{ .Name }} - {{ .Address }}</li>
{{ end }}

{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
  </div>
{{ end }}

